h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 30px;
  color: #1a679b;
}

/* Search input */
.search-container {
  text-align: center;
  margin-top: 20px;
}

#searchPatient {
  width: 80%;
  max-width: 400px;
  padding: 8px 12px;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#searchPatient:focus {
  border-color: #448c46;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  outline: none;
}

.form-container {
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #f9f9f9;
}

.form-container input:focus {
  outline: none;
  border-color: #3498db;
}

.form-container button {
  width: 100%;
  padding: 12px;
  background-color: #4cd2cb;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #3c8dc3;
}

#infoTable {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

#infoTable th,
#infoTable td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

#infoTable th {
  background-color: #3c8dc3;
  color: white;
}

#infoTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#infoTable tbody tr:hover {
  background-color: #f1f1f1;
}

button.edit-btn,
button.delete-btn {
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.edit-btn {
  background-color: #f39c12;
  color: white;
  border: none;
}

button.edit-btn:hover {
  background-color: #e67e22;
}

button.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
}

button.delete-btn:hover {
  background-color: #c0392b;
}

.error-message {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-top: 5px;
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .form-container {
    width: 90%;
  }

  #infoTable {
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}