<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patients - DocPointify</title>
    <link rel="stylesheet" href="../static/css_files/styles.css" />
    <link rel="stylesheet" href="../static/css_files/patients.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>DocPointify</h1>
        <nav>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li>
              <a href="appointments.html" class="restricted">Appointments</a>
            </li>
            <li>
              <a href="patients.html" class="restricted" class="active"
                >Patients</a
              >
            </li>
            <li id="logoutNav" style="display: none">
              <a href="javascript:void(0)" id="logoutBtn">Logout</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="background-patients">
      <div class="search-container">
        <input
          type="search"
          id="searchPatient"
          placeholder="Search by Patient Name"
          oninput="filterInfo()"
        />
      </div>

      <div class="form-container">
        <form id="infoForm" onsubmit="return validateForm();">
          <input type="text" id="input1" placeholder="Full Name" required />
          <span id="error1" class="error-message"></span>

          <input type="text" id="input2" placeholder="Phone Number" required />
          <span id="error2" class="error-message"></span>

          <input type="text" id="input3" placeholder="Address" required />
          <span id="error3" class="error-message"></span>

          <input type="text" id="input4" placeholder="Note" required />
          <span id="error4" class="error-message"></span>

          <button type="submit">Add Patient</button>
        </form>
      </div>
    </div>
    <input type="hidden" id="editingId" value="" />

    <h3>Saved Information</h3>
    <table id="infoTable">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Note</th>
          <th>ID</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <footer>
      <div class="container">
        <p>&copy; 2025 DocPointify</p>
      </div>
    </footer>

    <script src="../static/js_files/patients.js"></script>
    <script src="../static/js_files/script.js"></script>
  </body>
</html>
